{% extends 'flashapp/base.html' %}

{% block title %}
Add
{% endblock %}

{% block content %}
<center>

{% if my_answer %}    
    <div class="alert alert-{{ color }} alert-dismissible fade show" role="alert">
        {{ my_answer }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>   
{% endif %} 
    
<h1><img src="static/images/{{ num1 }}.png"> + <img src="static/images/{{ num2 }}.png"></h1>

<br/><br/>

<form action="{% url 'add' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Type your answer here" name="answer">
        <input type="hidden" name="num1" value="{{ num1 }}">
        <input type="hidden" name="num2" value="{{ num2 }}">
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</center>

{% endblock %}